<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="UI.for.WinForms.Common" version="2018.2.621" targetFramework="net45" />
  <package id="UI.for.WinForms.GridView" version="2018.2.621" targetFramework="net45" />
  <package id="UI.for.WinForms.Themes" version="2018.2.621" targetFramework="net45" />
</packages>