lib
publish
dokumente
packages
packages/*
_UpgradeWizard_Files
_ConvertModelWizard_Files
/obj
/bin
*/obj
*/bin
*/*/obj
*/*/bin
*/*/*/obj
*/*/*/bin
*/*/*/*/obj
*/*/*/*/bin
*/*/*/*/*/obj
*/*/*/*/*/bin
*/*/*/*/*/*/obj
*/*/*/*/*/*/bin
*/*/*/*/*/*/*/obj
*/*/*/*/*/*/*/bin
*/*/*/*/*/*/*/*/obj
*/*/*/*/*/*/*/*/bin
*/*/*/*/*/*/*/*/*/obj
*/*/*/*/*/*/*/*/*/bin
/Release
/Debug
*/Release
*/Debug
*/*/Release
*/*/Debug
*/*/*/Release
*/*/*/Debug
*/*/*/*/Release
*/*/*/*/Debug
*/*/*/*/*/Release
*/*/*/*/*/Debug
*/*/*/*/*/*/Release
*/*/*/*/*/*/Debug
*/*/*/*/*/*/*/Release
*/*/*/*/*/*/*/Debug
*/*/*/*/*/*/*/*/Release
*/*/*/*/*/*/*/*/Debug
/_ReSharper*
/*/_ReSharper*
/*/*/_ReSharper*
/*/*/*/_ReSharper*
*.suo
TestConsole
EXAMPLE
XDepencies
*.sql
*.raw
*.bin
*.key
*.pfx
*.cex
*.exe
*.zip
*.cec5
/CorpusExplorer/NuGet
data
testdata
*.licenses
*.sdmodel
TestResults
CorpusExplorer/.vs/*
XDependencies
pandoc
*.png
*.licx
*.ilproj
*.snk
*.dll
*.udprojx
