<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Telerik.WinControls.UI" publicKeyToken="5bb2a467cbec794e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.1.218.40" newVersion="2020.1.218.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.WinControls" publicKeyToken="5bb2a467cbec794e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.1.218.40" newVersion="2020.1.218.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TelerikCommon" publicKeyToken="5bb2a467cbec794e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.1.218.40" newVersion="2020.1.218.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.WinControls.PivotGrid" publicKeyToken="5bb2a467cbec794e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.1.113.40" newVersion="2020.1.113.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.WinControls.GridView" publicKeyToken="5bb2a467cbec794e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.1.113.40" newVersion="2020.1.113.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.WinControls.RadChart" publicKeyToken="5bb2a467cbec794e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.1.113.40" newVersion="2020.1.113.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.WinControls.RadDock" publicKeyToken="5bb2a467cbec794e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.1.113.40" newVersion="2020.1.113.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.WinControls.RadMarkupEditor" publicKeyToken="5bb2a467cbec794e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.1.113.40" newVersion="2020.1.113.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.WinControls.RadDiagram" publicKeyToken="5bb2a467cbec794e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.1.113.40" newVersion="2020.1.113.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.WinControls.PdfViewer" publicKeyToken="5bb2a467cbec794e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.1.113.40" newVersion="2020.1.113.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.WinControls.ChartView" publicKeyToken="5bb2a467cbec794e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.1.113.40" newVersion="2020.1.113.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.WinControls.RadWebCam" publicKeyToken="5bb2a467cbec794e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.1.113.40" newVersion="2020.1.113.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.WinControls.Scheduler" publicKeyToken="5bb2a467cbec794e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.1.113.40" newVersion="2020.1.113.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.WinControls.RadMap" publicKeyToken="5bb2a467cbec794e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.1.113.40" newVersion="2020.1.113.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.WinControls.RichTextEditor" publicKeyToken="5bb2a467cbec794e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.1.113.40" newVersion="2020.1.113.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.WinControls.RadSpreadsheet" publicKeyToken="5bb2a467cbec794e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.1.113.40" newVersion="2020.1.113.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="K4os.Hash.xxHash" publicKeyToken="32cd54395057cec3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.8.0" newVersion="1.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>