<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="83.4.2" targetFramework="net461" />
  <package id="cef.redist.x86" version="83.4.2" targetFramework="net461" />
  <package id="CefSharp.Common" version="83.4.20" targetFramework="net461" />
  <package id="CefSharp.WinForms" version="83.4.20" targetFramework="net461" />
  <package id="CodeHollow.FeedReader" version="1.2.1" targetFramework="net452" />
  <package id="HtmlAgilityPack" version="1.11.24" targetFramework="net461" />
  <package id="linqtotwitter" version="4.2.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net461" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net461" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net461" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net461" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net461" />
  <package id="System.Reactive" version="4.4.1" targetFramework="net461" />
  <package id="System.Reactive.Core" version="4.4.1" targetFramework="net461" />
  <package id="System.Reactive.Interfaces" version="4.4.1" targetFramework="net461" />
  <package id="System.Reactive.Linq" version="4.4.1" targetFramework="net461" />
  <package id="System.Reactive.PlatformServices" version="4.4.1" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="UI.for.WinForms.Common" version="2020.1.218" targetFramework="net461" />
  <package id="UI.for.WinForms.Themes" version="2020.1.218" targetFramework="net461" />
</packages>