<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Elasticsearch.Net" version="6.1.0" targetFramework="net452" />
  <package id="NEST" version="6.1.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net452" />
  <package id="UI.for.WinForms.Common" version="2018.3.1016" targetFramework="net452" />
</packages>