<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="5.0.4" targetFramework="net452" />
  <package id="cef.redist.x64" version="3.3578.1863" targetFramework="net452" />
  <package id="cef.redist.x86" version="3.3578.1863" targetFramework="net452" />
  <package id="CefSharp.Common" version="71.0.0" targetFramework="net452" />
  <package id="CefSharp.WinForms" version="71.0.0" targetFramework="net452" />
  <package id="CodeHollow.FeedReader" version="1.2.1" targetFramework="net452" />
  <package id="HtmlAgilityPack" version="1.11.12" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net452" />
  <package id="PostSharp.Patterns.Aggregation.Redist" version="6.2.10" targetFramework="net452" />
  <package id="PostSharp.Patterns.Common.Redist" version="6.2.10" targetFramework="net452" />
  <package id="PostSharp.Patterns.Threading.Redist" version="6.2.10" targetFramework="net452" />
  <package id="PostSharp.Redist" version="6.2.10" targetFramework="net452" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net452" />
  <package id="Telerik.Documents.SpreadsheetStreaming.for.Net40" version="2019.1.114" targetFramework="net452" />
  <package id="Telerik.Windows.Controls.Data.for.Wpf" version="2019.1.116" targetFramework="net452" />
  <package id="Telerik.Windows.Controls.Data.for.Wpf.Xaml" version="2019.1.116" targetFramework="net452" />
  <package id="Telerik.Windows.Controls.DataVisualization.for.Wpf" version="2019.1.116" targetFramework="net452" />
  <package id="Telerik.Windows.Controls.Diagrams.Extensions.for.Wpf" version="2019.1.116" targetFramework="net452" />
  <package id="Telerik.Windows.Controls.Diagrams.for.Wpf" version="2019.1.116" targetFramework="net452" />
  <package id="Telerik.Windows.Controls.for.Wpf" version="2019.1.116" targetFramework="net452" />
  <package id="Telerik.Windows.Controls.for.Wpf.de" version="2019.1.116" targetFramework="net452" />
  <package id="Telerik.Windows.Controls.for.Wpf.Xaml" version="2019.1.116" targetFramework="net452" />
  <package id="Telerik.Windows.Controls.Input.for.Wpf" version="2019.1.116" targetFramework="net452" />
  <package id="Telerik.Windows.Controls.Input.for.Wpf.Xaml" version="2019.1.116" targetFramework="net452" />
  <package id="Telerik.Windows.Controls.Navigation.for.Wpf" version="2019.1.116" targetFramework="net452" />
  <package id="Telerik.Windows.Data.for.Wpf" version="2019.1.116" targetFramework="net452" />
  <package id="Telerik.Windows.Data.for.Wpf.Xaml" version="2019.1.116" targetFramework="net452" />
  <package id="Telerik.Windows.Diagrams.Core.for.Wpf" version="2019.1.116" targetFramework="net452" />
  <package id="Telerik.Windows.Documents.Core" version="2019.1.114" targetFramework="net452" />
  <package id="Telerik.Windows.Documents.Core.for.Net40" version="2019.1.114" targetFramework="net452" />
  <package id="Telerik.Windows.Documents.Fixed" version="2019.1.114" targetFramework="net452" />
  <package id="Telerik.Windows.Documents.Fixed.for.Net40" version="2019.1.114" targetFramework="net452" />
  <package id="Telerik.Windows.Documents.Spreadsheet" version="2019.1.114" targetFramework="net452" />
  <package id="Telerik.Windows.Documents.Spreadsheet.for.Net40" version="2019.1.114" targetFramework="net452" />
  <package id="Telerik.Windows.Documents.Spreadsheet.FormatProviders.OpenXml" version="2019.1.114" targetFramework="net452" />
  <package id="Telerik.Windows.Documents.Spreadsheet.FormatProviders.OpenXml.for.Net40" version="2019.1.114" targetFramework="net452" />
  <package id="Telerik.Windows.Documents.Spreadsheet.FormatProviders.Pdf" version="2019.1.114" targetFramework="net452" />
  <package id="Telerik.Windows.Documents.Spreadsheet.FormatProviders.Pdf.for.Net40" version="2019.1.114" targetFramework="net452" />
  <package id="Telerik.Windows.Themes.Windows8Touch.for.Wpf" version="2019.1.116" targetFramework="net452" />
  <package id="Telerik.Windows.Zip" version="2019.1.114" targetFramework="net452" />
  <package id="Telerik.Windows.Zip.for.Net40" version="2019.1.114" targetFramework="net452" />
  <package id="UI.for.WinForms.ChartView" version="2019.1.117" targetFramework="net452" />
  <package id="UI.for.WinForms.Common" version="2019.1.117" targetFramework="net452" />
  <package id="UI.for.WinForms.Export" version="2019.1.117" targetFramework="net452" />
  <package id="UI.for.WinForms.GridView" version="2019.1.117" targetFramework="net452" />
  <package id="UI.for.WinForms.PivotGrid" version="2019.1.117" targetFramework="net452" />
  <package id="UI.for.WinForms.RichTextEditor" version="2019.1.117" targetFramework="net452" />
  <package id="UI.for.WinForms.Themes" version="2019.1.117" targetFramework="net452" />
</packages>