<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="106.0.26" targetFramework="net461" />
  <package id="cef.redist.x86" version="106.0.26" targetFramework="net461" />
  <package id="CefSharp.Common" version="106.0.260" targetFramework="net461" />
  <package id="CefSharp.WinForms" version="106.0.260" targetFramework="net461" />
  <package id="CodeHollow.FeedReader" version="1.2.4" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.11.46" targetFramework="net461" />
  <package id="Microsoft.Win32.Primitives" version="4.0.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="PostSharp.Patterns.Aggregation.Redist" version="6.10.15" targetFramework="net461" />
  <package id="PostSharp.Patterns.Common.Redist" version="6.10.15" targetFramework="net461" />
  <package id="PostSharp.Patterns.Threading.Redist" version="6.10.15" targetFramework="net461" />
  <package id="PostSharp.Redist" version="6.10.15" targetFramework="net461" />
  <package id="SharpZipLib" version="1.4.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.0.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.5" targetFramework="net461" />
  <package id="System.Net.Http" version="4.1.1" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.2.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.0.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.0.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.1.2" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>